# Gradle specific files
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration files
/local.properties
/.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
.idea/*.iml
.idea/misc.xml
*.iml
*.ipr
*.iws

# IntelliJ specific files
/out/

# Android Studio specific files
/captures/
/output.json
.navigation/
*.keystore

# Kotlin specific files
*.kotlin_metadata

# MacOS files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Files created by operating systems
*.swp
*~

# Logs
*.log

# Ignore build output artifacts
**/build
**/out

# Cache and indexing
.idea/

